body, img, div, ul, li, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
  //font-family: 'Noto Serif SC', serif;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Sawarabi Gothic", serif;

}

$red: #aa0000;

a:hover {
  cursor: pointer;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

li {
  list-style: none;
}

.red {
  color: $red;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.clear {
  clear: both;
}

section h2 {
  padding-bottom: 20px;
}

header {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  .header-top {
    padding-left: 10px;
    height: 30px;
    width: 100%;
    background-color: black;
    img {
      width: 15px;
      float: left;
      margin: 7px;
    }
    p {
      font-size: 14px;
      float: left;
      color: #bdc3c7;
      line-height: 30px;
      margin-right: 10px;
    }
  }
  .container {
    padding: 30px 0;
    max-width: 1100px;
    overflow: hidden;
    height: auto;
    margin: 0 auto;
  }
  h1 {
    float: left;
    line-height: 100px;
    font-size: 20px;
  }
  .header-left {
    float: left;
    img {
      float: left;
      width: 200px;
      margin-top: -15px;
    }
  }
  .header-right {
    padding-left: 10px;
    float: right;
    ul {
      width: auto;
      a:hover {
        color: $red;
      }
      li {
        border-left: 3px solid $red;
        padding-left: 9px;
        float: left;
        line-height: 60px;
        padding-right: 30px;
      }
    }

  }

}

.image-wrapepr {
  margin-top: 160px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  ul {
    width: 100%;
    height: 400px;
    position: relative;
    li {
      width: 100%;
      height: 400px;
      opacity: 0;
      transition: 1s;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 100%;;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }

    .opa {
      opacity: 1;
      transition: 1s;
    }
  }
}

#message-section {
  .message-top {
    background-color: $red;
    height: 70px;
    width: 100%;
    h2 {
      font-family: 'Noto Serif SC', serif;
      float: right;
      line-height: 70px;
      padding-right: 50px;
      color: white;
      margin-bottom: 0;
      height: 0;
    }

  }
  .message-bottom {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    h3 {
      font-family: 'Noto Serif SC', serif;
      float: right;
      line-height: 50px;
      padding-right: 50px;
    }
  }
}

#box-section {
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  .container {
    .box-lists {
      .customor-box {
        border: 1px solid #eeee;
        padding: 30px 20px;
        float: left;
        //width: 48%;
        //margin: 0 1%;
        background-color: #fcfcfc;
        word-wrap: break-word;
        position: relative;
        max-width: 48%;
        margin: 0 1%;
        .custmor-quote {
          padding: 0;
          img {
            width: 20px;
            float: right;
          }
        }

          .customor-voice {
            padding-top: 15px;
          }
          .customor-detail {
            position: absolute;
            bottom: -105px;
            left: 0;
            height: 60px;
            width: 150px;
            .my-col2 {
              width: 30%;
              height: 100px;
              margin: 0;
              float: left;
              .col-image-box {
                width: 100%;
                height: 50px;
                background-color: black;
                overflow: hidden;
                position: relative;
                img {
                  width: 100px;
                  height: auto;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%,-50%);
                  -moz-transform: translate(-50%,-50%);
                  -ms-transform: translate(-50%,-50%);
                  -o-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);

                }
              }
            }
            .my-col10 {
              width: 70%;
              height: 100px;
              margin: 0;
              float: left;
              .constomor-content {
                padding-left: 10px;
                h3 {
                  font-size: 15px;
                  margin-bottom: 0px;
                  color: $red;
                }
                p {
                  font-size: 12px
                }
              }
            }


          }
        }
      }
    }
  }

#image-section {
  height: auto;

  .container {
    border-bottom: 1px solid #eeee;
    padding-bottom: 70px;
    h2 {
      padding-left: 20px;
      padding-bottom: 20px;
    }
    .image-box-lists {

      .image-box-image {
        width: 25%;
        float: left;
        padding: 0 20px;
        img {
          width: 100%;
        }
      }
    }
  }


}

#blog-section {
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-bottom: 50px;
  .container {
    height: 450px;
    padding: 50px 20px;
    border-bottom: 1px solid #eeee;
    h2 {
      padding: 20px 0;
    }
    .blog-wrapper {
      float: left;
      width: 50%;
      height: 300px;
      .news-wrapper {

        .news {
          padding-bottom: 30px;
          img {
            width: 30px;
            float: left;
          }
          .news-content {
            padding-left: 30px;
            float: left;
            .news-day {
              padding-bottom: 3px;
            }
            .news-title{
            padding-bottom: 5px;
            }
            .news-desc {

            }
          }
        }
      }
    }
  }
}

#team-section {
  padding: 70px 0;
  border-bottom: 1px solid #eeee;
  .container {
    li {
      float: left;
      padding: 20px;
      width: 25%;
      .team-box-container {
        width: 100%;
        height: 600px;
        border: 1px solid #eeee;
        position: relative;
        .team-image-box {
          width: 100%;
          height: 200px;
          overflow: hidden;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width: 300px;
            height: auto;
          }
        }
          .team-name-box {
            position: absolute;
            top: 35%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            height: 60px;
            width: 80%;
            border: 0.5px solid #eee;
            text-align: center;
            background-color: white;
            padding: 5px 0;
            h3 {
              padding-top: 4px;
              margin-bottom: 3px;
              font-size: 19px;
            }
            .team-position {
              color: $red;
              font-size: 12px;
            }
          }
          .entry-content {
            padding-top: 50px;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
            height: 330px;
            overflow: hidden;
            p {
              font-size: 15px;
              opacity: 0.8;
            }
          }
          .btn {
            margin: 0 auto;
            display: block;
            height: auto;
            width: 80px;
            padding: 5px 10px;
            background-color: $red;
            color: white;
            p {
              margin-bottom: 0;
            }
          }
      }

    }

  }
}

footer {
  .footer-top {
    height: 70px;
    background-color: $red;
    line-height: 70px;
    color: white;
  }
  .footer-bottom {
    padding: 50px 0;
    height: 300px;
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 687px) {
  header {
    .header-top {

    }
    .container {
      .header-left {
        img {

        }
      }
      .header-right {
        display: none;
        ul {
          li {

          }
        }
      }
    }
  }

  .image-wrapper {
    ul {
      li {
        img {

        }
      }
    }
  }

  #message-section {
    .message-top {
      h2 {

      }
    }
    .message-bottom {
      h3 {

      }
    }
  }

  #box-section {
    .container {
      .box-lists {
        ul {
          .box {
            .box-head {
              img {

              }
              h2 {

              }
            }
            .box-contentt {
              p {

              }
              a {
                p {

                }
              }
            }
          }
        }
      }
    }
  }

  #image-section {
    .container {
      h2 {

      }
      .image-box-lists {
        ul {
          li {
            .image-box-image {
              img {

              }
            }
          }
        }
      }
    }
  }

  #blog-section {
    .container {
      .blog-wrapper {
        .news {
          img {

          }
          .news-content {
            .news-day {

            }
            .news-title {

            }
            .news-desc {

            }
          }
        }
      }
      .voice-wrapper {
        h2 {

        }

      }
    }
  }

  #team-seciton {
    .container {
      h2 {

      }
      ul {
        li {
          .team-box-container {
            .team-image-box {
              img {

              }
            }
            p {

            }
            .btn {
              p {

              }
            }
            .team-name-box {
              h3 {

              }
              p {

              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-top {
      .container {

      }
    }
  }

}
